/*CSS FOR KATRINKUKKA.FI */

html {
background-color: #fff;
}

body {
color: #555555;
font-family: Arial, Trebuchet, sans-serif;
/*font-size:14px;*/
}

p {
font-size: 16px!important;
}

h1, h2, h3, h4 {
font-family: 'Abril Fatface', cursive;
}

a
{
font-family: 'Dancing Script', cursive;
font-size: 20px;
text-decoration: none;
color: #999999;

}

/* FRONTPAGE */
/*frontpage image*/
.etusivunkuva {
    width: 40vw;
    float: right;
    padding: 30px 0px 20px 20px;
}
.etusivunkuva:hover {
    animation-name: animaatio;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in;
}
@keyframes animaatio {
  from {opacity: 1.0;
    border-radius:0px;}
  to {opacity: 0.2;
     border-radius:200px;}
}
/*footer*/
.footer {
padding-top: 50px;
position: static;
bottom: 0;
}

/* GALLERY AND LIGHTBOX*/

.column_demo {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;

}

/* The Close Button */
.close_x {
  color: white;
  position: absolute;
  top: 5vw;
  right: 5vw;
  font-size: 35px;
  font-weight: bold;
    opacity:1;
}

.close_x:hover,
.close_x:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.galleria {
    width: 100%;
    float: left;
    padding-bottom:10px;
}
.galleria:hover {
    opacity: 0.5;
}
.galleria_thumb {
    width: 100%;
    padding-left: 5px;
}
.galleria_thumb:hover {
    opacity: 0.5;
}

.carousel-indicators {
visibility: hidden;}

/*FORM*/
.iframe_lomake {
    width: 100%;
    height:951px;
    margin-top: 30px;
}

/*CAROUSEL*/
.carousel-inner .item,
.carousel-inner .item.active,
.carousel-inner .item img {
    margin:auto!important;
    padding:0px!important;
    width:100%;
}

.navbar-inverse {
    background-color: #3e3e3e;
    border-color: #3e3e3e;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #b2c1be;
    background-color: #828484;

}
.navbar-brand {
    font-size: 20px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {

    color: #b2c1be;

}

/*JUMBOTRON*/

.jumbotron {
    padding-top: 45px;
    padding-bottom: 48px;
    background-color: #fff!important;

}

/*BUTTONS*/
.btn {

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;

}

.btn-success {
    color: #fff;
    background-color: #49c5b6;
    border-color: #42ab9e;
}

.btn-success:hover{color:#fff;background-color:#0eb09c;border-color:#0da492}
.btn-success:focus,.btn-success.focus{box-shadow:0 0 0 .2rem rgba(17,211,188,0.5)}
.btn-success.disabled,.btn-success:disabled{color:#212529;background-color:#11D3BC;border-color:#11D3BC}
.btn-success:not(:disabled):not(.disabled):active,.btn-success:not(:disabled):not(.disabled).active,.show>.btn-success.dropdown-toggle{color:#fff;background-color:#0da492;border-color:#0c9887}
.btn-success:not(:disabled):not(.disabled):active:focus,.btn-success:not(:disabled):not(.disabled).active:focus,.show>.btn-success.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(17,211,188,0.5)}
.btn-primary{color:#fff;background-color:#f4a3a3;border-color:#da7b7b}
.btn-primary:hover{color:#fff;background-color:#da7b7b;border-color:#a81c5e}
.btn-primary:focus,.btn-primary.focus{box-shadow:0 0 0 .2rem rgba(7,104,159,0.5)}
.btn-primary.disabled,.btn-primary:disabled{color:#fff;background-color:#da7b7b;border-color:#da7b7b}
.btn-primary:not(:disabled):not(.disabled):active,.btn-primary:not(:disabled):not(.disabled).active,.show>.btn-primary.dropdown-toggle{color:#fff;background-color:#da7b7b;border-color:#da7b7b}
.btn-primary:not(:disabled):not(.disabled):active:focus,.btn-primary:not(:disabled):not(.disabled).active:focus,.show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(7,104,159,0.5)}
.btn-secondary{color:#212529;background-color:#C9D6DF;border-color:#C9D6DF}
.btn-secondary:hover{color:#212529;background-color:#b1c4d1;border-color:#a9becc}
.btn-secondary:focus,.btn-secondary.focus{box-shadow:0 0 0 .2rem rgba(201,214,223,0.5)}
.btn-secondary.disabled,.btn-secondary:disabled{color:#212529;background-color:#C9D6DF;border-color:#C9D6DF}
.btn-secondary:not(:disabled):not(.disabled):active,.btn-secondary:not(:disabled):not(.disabled).active,.show>.btn-secondary.dropdown-toggle{color:#212529;background-color:#a9becc;border-color:#a1b8c7}
.btn-secondary:not(:disabled):not(.disabled):active:focus,.btn-secondary:not(:disabled):not(.disabled).active:focus,.show>.btn-secondary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(201,214,223,0.5)}

/*RESPONSIVE (MOBILE, TABLET ETC.)*/

@media screen and (max-width: 800px) {
    .etusivunkuva {
    width: 100%;
    float: none;
    padding:45px 0px 0px 0px;
    }
    .jumbotron {
    padding-top: 20px!important;

    }
    .close_x {
    top: 10vw;
    right: 6vw;
        font-size: 25px;}
    .col-sm-4 {
    position: static;}
}
@media screen and (max-width: 500px) {
    .etusivunkuva {
    width: 100%;
    float: none;
    padding:45px 0px 0px 0px;
    }
    .jumbotron {
    padding-top: 40px!important;

    }
    .close_x {
    top: 17vw;
    right: 6vw;
    font-size: 25px;}
}
/* ALL FORMATTING FOR MINI CONTAINER 

.mini_container {
margin-left: auto;
margin-right: auto;
margin-top: 5em;
width: 25em;
min-height: 18em;
background-color: #FFF;
padding: 3em;
overflow:auto;
text-overflow: ellipsis;
box-shadow: 5px 5px #888888;
}

ul li
{
list-style-type:disclosure-closed;
width: 100%;
line-height: 30px;
}*/
